.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    flex-wrap: wrap;
}



.about-image-container,
.about-text-container {
    flex: 1;
    min-width: 300px;
    margin: 10px;
}

.about-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.about-text-container {
    text-align: left;
    margin-left: 20px;
}

.education-skills-container {
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    align-items: flex-start;
    gap: 2rem;
}

.about-text-container {
    display: flex;
    flex-direction: column;
}

.skills-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
}

.skill-circle {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20%;
    border: 1px solid #41413D;
    overflow: hidden;
}

.card {
    background-color: #ffffff6f;
    border: solid 1px #0F0F0F;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
}


.btn {
    background-color: #6982AF;
    border: solid 1px #0F0F0F;
    border-radius: 5px;
    text-decoration: none;
    font-family: "Bebas Neue", sans-serif;
    font-size: 20px;
    font-style: normal;
}

.btn:hover {
    background-color: #0F0F0F;
    border: solid #6982AF;
    border-radius: 5px;
    text-decoration: none;
    font-family: "Bebas Neue", sans-serif;
    font-size: 20px;
    font-style: normal;
}

.card-title {
    font-family: "Bebas Neue", sans-serif;
    font-size: 25px;
    font-style: normal;
    color: #0F0F0F;
    display: flex;
    justify-content: start;
    align-items: start;
}

.card-text {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 300;
    font-style: normal;
    color: #0F0F0F;
    display: flex;
    justify-content: start;
    align-items: start;
    margin: 0px;
    padding: 0px;
}