.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    flex-wrap: wrap;
}

.certificate-img {
    width: 100%;
    height: 250px;
    /* Tamaño uniforme para todas las imágenes */
    object-fit: cover;
    /* Ajusta la imagen sin distorsionarla */
}

.card {
    border-radius: 30px;
}

.about-image-container,
.about-text-container {
    flex: 1;
    min-width: 300px;
    margin: 10px;
    gap: 10px;
    text-align: justify;
}

.about-image {
    max-width: 100%;
    height: auto;
    border-radius: 0px;
}


.education-skills-container {
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    align-items: flex-start;
    gap: 2rem;
}

.about-text-container {
    display: flex;
    flex-direction: column;
}

.skills-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.skill-circle {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    overflow: hidden;
    background-color: #ffffff;
    ;

}

.card {
    background-color: #ffffff;
    border: solid 1px #0F0F0F;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
}


.btn {
    background-color: #0B60B0;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 1rem;
    font-style: normal;
    color: white;
    border-radius: 30px;
}

.btn:hover {
    background-color: #0F0F0F;
    color: white;
}

.card-experience {
    height: fit-content;
    background-color: #ffffff;
    border-radius: 30px;
    padding: 20px;
    width: auto;
}

.card-title {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 1.3rem;
    font-style: normal;
    color: #0F0F0F;
    display: flex;
    justify-content: start;
    align-items: start;
}

.card-text {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    font-style: normal;
    color: #0F0F0F;
    margin: 0px;
    padding: 0px;
    gap: 5px;
}

.exp-title {
    font-family: "Raleway", sans-serif;
    font-size: 1rem;
    font-weight: 800;
    font-style: normal;
    color: #0F0F0F;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    margin: 0px;
    padding: 0px;
}

.exp-text {
    font-family: "Raleway", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    font-style: normal;
    color: #0F0F0F;
    margin: 0px;
    padding: 0px;
}