.contact-me {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    flex-wrap: wrap;
}


.form-contact {
    transition: transform 0.3s;
    background-color: #ffffff;
    border: solid 1px #0F0F0F;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
    border-radius: 8px;
    padding: 10px;
}

.form-label {
    color: #0F0F0F;
}

.form {
    padding: 20px;
}

.sub-tittle {
    font-family: "Bebas Neue", sans-serif;
    font-size: 40px;
    font-style: normal;
    margin-bottom: 20px;
    color: #0F0F0F
}

.git a {
    font-family: "Bebas Neue", sans-serif;
    font-size: 25px;
    font-style: normal;
    margin-bottom: 20px;
    color: #0F0F0F;

}

/* Asegúrate de que los enlaces no tengan texto en mayúsculas ni subrayados */
a {
    text-transform: none;
    /* Evitar que se pongan en mayúsculas */
    text-decoration: none;
    /* Eliminar subrayado */
}

/* Si necesitas aplicar estos estilos solo a los enlaces dentro de la clase .git */
.git a {
    text-transform: none;
    text-decoration: none;
}

/* Agregar un espacio entre el icono y el texto del enlace */
.git i {
    margin-right: 8px;
    /* Puedes ajustar este valor según el espacio que desees */
}

/* Opcionalmente, puedes agregar estilo hover */
a:hover,
.git a:hover {
    text-decoration: underline;
    /* O cualquier otro estilo de hover */
}


.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #0F0F0F;
    /* Color de fondo de la flecha */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: opacity 0.3s ease;
    z-index: 1000;
    /* Asegúrate de que la flecha esté encima de otros elementos */
}


.back-to-top:hover {
    background-color: #ffffff;
    color: rgba(255, 255, 255, 0.672);
}

.back-to-top i {
    font-size: 25px;
    color: #0b60ff;
}

.show {
    opacity: 1;
}

.info-box {
    position: relative;
    z-index: 1;
}

.contact-image {
    max-width: 100%;
    height: auto;
    z-index: -1;
    object-fit: cover;
    box-sizing: border-box;
    top: 50px;
    left: 0;
    margin-left: 100px;
}


@media (max-width: 768px) {
    .contact-image {
        max-width: 80%;
        /* Ajustar el ancho máximo en pantallas pequeñas */
        position: static;
        /* Mantener la imagen en el flujo del documento */
        margin-top: 100px;
        /* Añadir un poco de espacio por encima */
    }
}