.contact-me {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    flex-wrap: wrap;
}



.form-contact {
    transition: transform 0.3s;
    background-color: #ffffff6f;
    border: solid #0F0F0F;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
    border-radius: 8px;
    padding: 10px;
}

.form-label {
    color: #0F0F0F;
}

.form {
    padding: 20px;
}

.sub-tittle {
    font-family: "Bebas Neue", sans-serif;
    font-size: 40px;
    font-style: normal;
    margin-bottom: 20px;
}

.git {
    font-family: "Bebas Neue", sans-serif;
    font-size: 25px;
    font-style: normal;
    margin-bottom: 20px;
}

.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #0F0F0F;
    /* Color de fondo de la flecha */
    color: #008170;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 1px 10px rgba(255, 255, 255, 0.54);
    transition: opacity 0.3s ease;
    z-index: 1000;
    /* Asegúrate de que la flecha esté encima de otros elementos */
}

.back-to-top:hover {
    background-color: #0F0F0F;
    color: rgba(255, 255, 255, 0.672);
}

.back-to-top i {
    font-size: 25px;
}

.show {
    opacity: 1;
}

.info-box {
    position: relative;
    z-index: 1;
    overflow: hidden;
    /* Oculta cualquier contenido que se salga del contenedor */
}

.contact-image {
    max-width: 100%;
    height: auto;
    z-index: -1;
    object-fit: cover;
    box-sizing: border-box;
    top: 50px;
    left: 0;
    margin-left: 100px;
}

@media (max-width: 768px) {
    .contact-image {
        max-width: 80%;
        /* Ajustar el ancho máximo en pantallas pequeñas */
        position: static;
        /* Mantener la imagen en el flujo del documento */
        margin-top: 100px;
        /* Añadir un poco de espacio por encima */
    }
}