body {
    background-color: #6982AF;
}

.tittle {
    font-family: "Bebas Neue", sans-serif;
    font-size: 50px;
    font-style: normal;
}

.info-text {
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    font-weight: 300;
    font-style: normal;
}

.bi {
    color: white;
}