@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Rakkas&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    flex-wrap: wrap;
}

.social {
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}


.home-image-container,
.home-text-container {
    flex: 1;
    margin: 10px;
    max-width: 100%;
}

.home-image {
    max-width: 100%;
    height: auto;
}

.home-text-container {
    max-width: 100%;
    text-align: left;
    padding: 20px;
}

.home-name {
    color: #000000;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-weight: 900;
    font-size: 100px;
    font-style: normal;
    text-transform: uppercase;
}

.home-profession {
    color: #000000;
}

.info-name-text {
    color: #F0EDCF;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 20px;
    font-style: normal;
    text-transform: uppercase;
}

/* Media Query para pantallas más pequeñas */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        /* Coloca la imagen y el texto en una columna */
    }

    .home-image-container {
        order: 2;
    }

    .home-text-container {
        order: 1;
        text-align: left;
        padding: 20px;
    }

    .home-name {
        color: #000000;
        text-decoration: none;
        font-family: "Raleway", sans-serif;
        font-weight: 900;
        font-size: 3.5rem;
        font-style: normal;
        text-transform: uppercase;
    }
}