@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Rakkas&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Rakkas&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    flex-wrap: wrap;
}

.social {
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}


.home-image-container,
.home-text-container {
    flex: 1;
    margin: 10px;
    max-width: 100%;
}

.home-image {
    max-width: 100%;
    height: auto;
}

.home-text-container {
    max-width: 100%;
    text-align: left;
    padding: 20px;
}

.home-name {
    font-family: "Bebas Neue", sans-serif;
    font-size: 100px;
    font-style: normal;
    color: #000000;
}

.home-profession {
    color: #000000;
}

/* Media Query para pantallas más pequeñas */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        /* Coloca la imagen y el texto en una columna */
    }

    .home-image-container {
        order: 2;
    }

    .home-text-container {
        order: 1;
        text-align: left;
        padding: 20px;
    }
}